In [49]:
import os
import glob
import pandas as pd
import zipline
from zipline.api import order_target, record, symbol, history
import numpy as np
import matplotlib.pyplot as plt
import portfolioopt as pfopt
import logging as log
from datetime import datetime
import pandas_datareader.data as web
log.basicConfig(filename='log.log',level=log.INFO)

DAYS_BACK = 10    # 30 days for stocks
#STOCKS = [symbol('AUDCAD1440'),symbol('CADJPY1440'),symbol('EURUSD1440'),symbol('AUDUSD1440'),symbol('CADCHF1440'),symbol('GBPUSD1440'),symbol('EURGBP1440')]
inst=symbols('GBP=X','AUD=X','CHF=X','EUR=X','JPY=X','NZD=X')
Unt = '1' #'1440'

def optimal_portfolio(returns):   
    avg_rets = returns.mean()    
    cov_mat = returns.cov()
    target_ret = avg_rets.quantile(0.65)
    weights = pfopt.markowitz_portfolio(cov_mat, avg_rets, target_ret, allow_short=True)   
    return weights


def initialize(context):
    context.i = 0   
    context.stocks = inst
    #symbol('CHF=X'),    
    zipline.api.set_slippage(zipline.api.slippage.FixedSlippage(spread=0.0))   
    zipline.api.set_commission(zipline.api.commission.PerShare(cost=0.0, min_trade_cost=0.0))
    
def handle_data(context, data):
    log.info("handle_data %d",context.i)
    # Skip first 300 days to get full windows
    context.i += 1
    if (context.i < DAYS_BACK):
        return
    
    prices = data.history(context.stocks, 'close', DAYS_BACK, '1d')    
    returns = prices.pct_change().dropna()
    #returns.to_csv('/home/ian/work/python/barchart-data/zprices'+str(context.i)+'.csv',header=True)
    
    try:
        # Perform Markowitz-style portfolio optimization
        weights = optimal_portfolio(returns)
        # Rebalance portfolio accordingly
        for stock in weights.keys():            
            zipline.api.order_target_percent(stock, weights[stock])
            log.info("Stock:%s W:%f",stock,weights[stock])
#        record(AAPL=weights.T[0][0])
#        record(MSFT=weights.T[0][1])
#        record(GOLD=weights.T[0][2])
#        record(AAPL=weights.T[0][0])
#        record(CADJPY=weights.T[0][1])
#        record(EURUSD=weights.T[0][2])
#        record(MSFT=weights.T[0][1])
#        record(SPY=weights.T[0][2])
#        record(CADCHF=weights.T[0][4])
#        record(GBPUSD=weights.T[0][5])
#        record(EURGBP=weights.T[0][6])
        
    except ValueError as e:
        # Sometimes this error is thrown
        # ValueError: Rank(A) < p or Rank([P; A; G]) < n
        pass
    

def analyze(context, perf):
    fig = plt.figure()
    ax1 = fig.add_subplot(211)
    perf.portfolio_value.plot(ax=ax1)
    ax1.set_ylabel('portfolio value in $')
    
    plt.legend(loc=0)
    plt.show()

    
path = "~/work/python/barchart-data/"
allfiles = glob.glob(os.path.join(path,".csv"))

ls_key = 'Adj Close'
start = datetime(2015,2,1)
end = datetime(2017,3,8)    
#f = web.DataReader(stocks, 'fred',start,end)
f = web.DataReader(inst, 'yahoo', start, end)
data=pd.DataFrame( f.ix[ls_key] )
    
for DB in [30,35,40,45,50]:
    DAYS_BACK = DB
    algo_obj = zipline.TradingAlgorithm(initialize=initialize, 
                            handle_data=handle_data, data_frequency = 'daily')
    print("Days back :%d",DB)
    results = algo_obj.run(data)
    results.portfolio_value.plot()
    plt.show()

NameError: name 'symbols' is not defined

In [9]:
path = "/home/ian/work/python/barchart-data/"
allfiles = glob.glob(os.path.join(path,"E*1.csv"))
df_from_each_file = (pd.read_csv(f) for f in allfiles)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

In [10]:
concatenated_df

                  timestamp      open      high       low     close  volume
0       2017-03-03 06:00:00  1.065070  1.065110  1.065020  1.065090     207
1       2017-03-03 06:01:00  1.065090  1.065120  1.065040  1.065070     144
2       2017-03-03 06:02:00  1.065070  1.065140  1.065070  1.065140     144
3       2017-03-03 06:03:00  1.065140  1.065200  1.065100  1.065120      99
4       2017-03-03 06:04:00  1.065110  1.065110  1.065030  1.065110     119
5       2017-03-03 06:05:00  1.065110  1.065160  1.065050  1.065130     129
6       2017-03-03 06:06:00  1.065120  1.065150  1.065100  1.065120      49
7       2017-03-03 06:07:00  1.065120  1.065180  1.065110  1.065140      92
8       2017-03-03 06:08:00  1.065140  1.065140  1.065020  1.065080      85
9       2017-03-03 06:09:00  1.065090  1.065100  1.065020  1.065030      54
10      2017-03-03 06:10:00  1.065040  1.065100  1.065020  1.065040      56
11      2017-03-03 06:11:00  1.065040  1.065100  1.065020  1.065040     100
12      2017-03-03 06:12:00  1.065030  1.065070  1.065000  1.065050      41
13      2017-03-03 06:13:00  1.065040  1.065100  1.065010  1.065080      84
14      2017-03-03 06:14:00  1.065090  1.065110  1.065040  1.065050      56
15      2017-03-03 06:15:00  1.065050  1.065080  1.065010  1.065040      57
16      2017-03-03 06:16:00  1.065040  1.065070  1.065020  1.065070      72
17      2017-03-03 06:17:00  1.065080  1.065100  1.065040  1.065060      63
18      2017-03-03 06:18:00  1.065050  1.065100  1.065050  1.065070      84
19      2017-03-03 06:19:00  1.065070  1.065110  1.065020  1.065100     100
20      2017-03-03 06:20:00  1.065110  1.065120  1.065030  1.065030      94
21      2017-03-03 06:21:00  1.065040  1.065140  1.065040  1.065070      96
22      2017-03-03 06:22:00  1.065070  1.065090  1.065030  1.065050      60
23      2017-03-03 06:23:00  1.065050  1.065100  1.065020  1.065080     118
24      2017-03-03 06:24:00  1.065080  1.065110  1.065000  1.065010     128
25      2017-03-03 06:25:00  1.065000  1.065010  1.064950  1.065000      64
26      2017-03-03 06:26:00  1.064990  1.065040  1.064920  1.064980     103
27      2017-03-03 06:27:00  1.064980  1.065010  1.064950  1.065010      62
28      2017-03-03 06:28:00  1.065000  1.065060  1.065000  1.065040     122
29      2017-03-03 06:29:00  1.065040  1.065070  1.065010  1.065020      70
...                     ...       ...       ...       ...       ...     ...
321254  2017-03-10 21:30:00  3.982614  3.984408  3.982307  3.983604      88
321255  2017-03-10 21:31:00  3.983685  3.984111  3.983024  3.983024     128
321256  2017-03-10 21:32:00  3.983054  3.984843  3.982764  3.984578      71
321257  2017-03-10 21:33:00  3.984534  3.984782  3.983406  3.984507      73
321258  2017-03-10 21:34:00  3.984449  3.985421  3.983922  3.985050      83
321259  2017-03-10 21:35:00  3.985001  3.985544  3.984737  3.984844      75
321260  2017-03-10 21:36:00  3.984872  3.985078  3.984684  3.984706      81
321261  2017-03-10 21:37:00  3.984642  3.985102  3.984348  3.984504      55
321262  2017-03-10 21:38:00  3.984467  3.985159  3.981201  3.981210     119
321263  2017-03-10 21:39:00  3.981255  3.981306  3.980945  3.981158     107
321264  2017-03-10 21:40:00  3.981257  3.981560  3.980784  3.981053     102
321265  2017-03-10 21:41:00  3.981027  3.981540  3.980828  3.981271      96
321266  2017-03-10 21:42:00  3.981252  3.981832  3.980096  3.980096     125
321267  2017-03-10 21:43:00  3.980115  3.980350  3.979834  3.979891     132
321268  2017-03-10 21:44:00  3.979802  3.979802  3.979326  3.979736     114
321269  2017-03-10 21:45:00  3.979771  3.980098  3.979550  3.979857      91
321270  2017-03-10 21:46:00  3.979821  3.980497  3.979816  3.980021      67
321271  2017-03-10 21:47:00  3.979977  3.980502  3.979226  3.979226      80
321272  2017-03-10 21:48:00  3.979312  3.979956  3.979214  3.979416      77
321273  2017-03-10 21:49:00  3.979464  3.979464  3.978610  3.979001     111
321274  2017-03-10 21:50:00  3.978981  3.979990  3.978755  3.979091      71
321275  2017-03-10 21:51:00  3.979034  3.981208  3.978561  3.981208     108
321276  2017-03-10 21:52:00  3.981246  3.981246  3.979271  3.979785      50
321277  2017-03-10 21:53:00  3.979934  3.980942  3.979885  3.980784      34
321278  2017-03-10 21:54:00  3.980825  3.980914  3.979128  3.979652      57
321279  2017-03-10 21:55:00  3.979802  3.980470  3.978092  3.979809     122
321280  2017-03-10 21:56:00  3.979946  3.980679  3.978461  3.978961     101
321281  2017-03-10 21:57:00  3.978911  3.982450  3.978832  3.981487      58
321282  2017-03-10 21:58:00  3.981632  3.982101  3.980632  3.981089      40
321283  2017-03-10 21:59:00  3.981224  3.981321  3.976014  3.976014      28

[321284 rows x 6 columns]

In [38]:
import math
math.log(1833.0/1761.0)

0.0400721393434989